NODE_ENV=xxxxxxxxxxxxxx
PORT=xxxxxxxxxxxxxx
DATABASE_URL=xxxxxxxxxxxxxx
BCRYPT_SALT_ROUNDS=xxxxxxxxxxxxxx
DEFAULT_PASS=xxxxxxxxxxxxxx
JWT_ACCESS_SECRET=xxxxxxxxxxxxxx
JWT_REFRESH_SECRET=xxxxxxxxxxxxxx
JWT_ACCESS_EXPIRES_IN=xxxxxxxxxxxxxx
JWT_REFRESH_EXPIRES_IN=xxxxxxxxxxxxxx
RESET_PASS_UI_LINK=xxxxxxxxxxxxxx
EMAIL_USER=xxxxxxxxxxxxxx
EMAIL_PASS=xxxxxxxxxxxxxx
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxx
SUPER_ADMIN_PASSWORD=xxxxxxxxxxxxxx